* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0px;
  background-color: #bebcbc;
}


.header{  
  background-color: #fefdfd;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header .logo{
  cursor: pointer;
}

.header .logo img:hover{
  transform: scale(1.2);
}

.header .logo img{  
  background-color: #fefdfd;
  margin-right: auto;
  margin-left: 0%;
  width: 110px;
  margin-left: 20px;
  transition: all 0.3s;
}


nav {
  background-color: #fefdfd;
  margin-left: auto;
  margin-right: 50px;
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin-left: 40px;
  transition: all 0.3s;
}


a {
  font-size: 18px;
  text-decoration: none;
  list-style: none;
  color: #575656;
}

.header .nav-links li:hover{
  transform: scale(1.2);
}
.header .nav-links li a:hover{
  color:rgb(7, 7, 7)
}

.header .btn button{
  font-size: 17px;
  color: #575656;
  padding: 6px 22px;
  margin-right: 50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
  font-family: 'Times New Roman', Times, serif;
}

.header .btn button:hover{
  transform: scale(1.2);
  background-color: #fc0606;
  color: #000000;
}

section {
  margin-top: 50px;
}

#fomulario {
  max-width: 400px;
  margin:  auto;
  padding: 20px;
  background-color: #151414;
  border-radius: 4px;
  margin-left: 30px;
}


#inicio {
  text-align: center;
  font-size: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 100px;
}

h1.titulo-grande {
  font-size: 66px;
}

h2.titulo-pequeno {
  font-size: 24px;
  font-style: oblique;
  margin-bottom: 40px;
}


#biografia {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
}


#biografia .fotos img {
  width: auto;
  height: auto;
  margin: 25px auto;
}

#biografia h1 {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

#biografia p {
  margin-left: 20px;
}


#shows {
  text-align: center;
}

#shows h2 {
  margin-top: 70px;
  margin-bottom: 40px;
}


.fotos, 
.foto1 {
  margin-top: 0px;
  max-width: 800px;
}


fieldset {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #f70303;
  border-radius: 4px;
  box-sizing: border-box;
}

fieldset input[type="text"],
fieldset input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: none;
  text-align: left;
}

input[type="submit"] {
  display: block;
  width: 80%;
  max-width: 1000px;
  margin: 20px auto;
  padding: 10px;
  background-color: #c5c2c2;
  transition: all 0.3s;
  color: #000000;
  border-color: #000000;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #ff0a0a;
}

footer {
  background-color: #fefdfd;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .redes-sociales {
  margin-right: 50px;
  transform: scale(1.2);
  transition: all 0.3s;
}

footer .redes-sociales a {
  margin-left: 10px;
  color: #575656;
  text-decoration: none;
  font-size: 40px;
  cursor: pointer;
}

footer .redes-sociales a:hover {
  color: rgb(7, 7, 7);
}
