* {
  box-sizing: border-box;
  background-color: #fdfdfd;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 80px;
  margin-left: 20px;
}


img{
  width:150px;
  margin-top: 10px; 
  justify-content: left;
}
  

header {
  background-color: #bebcbc;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;
  
}

nav {
  float: right;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

nav li a {
  display: block;
  text-align: center;
  padding: 10px;
  color: #333;
  text-decoration: none;
}


section {
  margin-top: 50px;
}

form#contacto {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 4px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}
#inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#inicio h2 {
  font-size: 60px;
  margin-bottom: 3px;
}

#inicio p {
  margin-top: 10px;
}

#biografia, #shows {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#biografia h2, #shows h2 {
  margin-bottom: 20px;
}

.fotos, .artista {
  margin-bottom: 20px;
}

fieldset {
  margin-bottom: 20px;
  border: none;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #b4b4b4;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #b4b4b4;
}
